<h1>Admin Login</h1><br><br>
<form action="/admin/login" method="post" autocomplete="off">
    <input type="email" value="admin@gmail.com" placeholder="Email Address" name="email" required><br><br>
    <input type="password" value="admin123" placeholder="Password" name="password" required><br><br>
    <input type="submit">
</form>
