<h1>Admin Login</h1><br><br>
<form action="/admin/login" method="post" autocomplete="off">
    <input type="email" placeholder="Email Address" required><br><br>
    <input type="password" placeholder="Password" required><br><br>
    <input type="submit">
</form>