<h1>Settings</h1>

<br><br>
<form action="/admin/settings" method="post" autocomplete="off">
    <input type="text" placeholder="College Name" name="collegename" required><br><br>
    <input type="submit" value="Save">
</form>