<nav>
  <h1>Alumni Dashboard</h1>
  <button><a href='/alumni'>Home</a></button>
  <button><a href='/alumni/feedback'>Feedback</a></button>
  <button><a href="/alumni/events">Events</a></button>
  <button style="background-color: red; color: white;"><a href="/alumni/logout">Logout</a></button>
</nav>
<hr>