<nav>
    <h2>Faculty Dashboard</h2>
    <button><a href="/faculty/add-events">Add Events</a></button>
    <button><a href="/faculty/feedbacks">Alumni Feedback</a></button>
    <button><a href="/faculty/verify-alumni">Verify Alumni</a></button>
    <button><a href="/faculty/logout">Logout</a></button>
</nav>
<hr>