<header id='footer' class='text-gray-600 bg-slate-200 body-font'>
  <div
    class='container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center'
  >
    <a
      class='flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0'
    >
      <img src='/img/favicon.svg' width='30' alt='Logo' />
      <span class='ml-3 text-xl text-gray-600 font-bold'>
        Alumni Management
      </span>
    </a>
    <nav
      class='md:ml-auto flex flex-wrap items-center text-base justify-center'
    >
      <a href='/alumni' class='mr-5 hover:text-gray-900'>
        Home
      </a>
      <a href='/alumni/about' class='mr-5 hover:text-gray-900'>
        About
      </a>
      <a href='/alumni/events' class='mr-5 hover:text-gray-900'>
        Events
      </a>
      <a href='/alumni/gallery' class='mr-5 hover:text-gray-900'>
        Gallery
      </a>
       <a href='/alumni/feedback' class='mr-5 hover:text-gray-900'>
        Feedback
      </a>
    </nav>
  </div>
</header>