<nav>
  <a href='/alumni'>
    Home
  </a>
  <a href='/alumni/about'>
    About
  </a>
  <a href='/alumni/events'>
    Events
  </a>
  <a href='/alumni/gallery'>
    Gallery
  </a>
  <a href='/alumni/feedback'>
    Feedback
  </a>
</nav>