<h2>Add Event</h2><br>
<form action="/faculty/add-events" method="post" >
    Upload Image
    <input type="file"><br>
    <input type="date" placeholder="Date"><br>
    <input type="text" placeholder="Main Heading"><br>
    <input type="text" placeholder="Sub Heading"><br>
    <textarea cols="30" rows="10" placeholder="Description"></textarea><br>
    <input type="submit" value="Add Event">
</form>

