<h2>Add Event</h2><br>
<form action="/faculty/add-donations" method="post" enctype="multipart/form-data">
    Upload Image
    <input type="file" name="sampleFile" accept="image/*" ><br>
    <input type="text" placeholder="Main Heading" name="main" required><br>
    <textarea cols="30" rows="10" placeholder="Description" name="description" required></textarea><br>
    <input type="submit" value="Add Donation">
</form>

    