<h1>Faculty Login</h1><br>
<form>
    <input type="text" name="firstname" placeholder="First Name"><br><br>
    <input type="text" name="lastname" placeholder="Last Name"><br><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <button type="submit">Login</button>
    <br><br>
    <a href='/faculty/signup'>Not a Faculty ?<b>Signup</b></a><br><br>

    <a href="#">Forgotten Password</a>
</form>