<h1>
  Alumni Verification
</h1>
<h2>
  Request Pending
</h2>
<hr />

{{#each alumni}}
  <img src='/img/user_avatar.png' alt='User Profile' />
  <h5>
    {{this.name}}
  </h5>
  <span>
    {{this.email}}
  </span>

  <a href='#'>
    Verify
  </a>
  <a href='#'>
    Cancel
  </a>
{{/each}}