<h1>Alumni Management System</h1><br>
<hr>
<br>
<button><a href="/alumni/login">Alumni</a></button>
<button><a href="/faculty/login">Faculty</a></button>
<button><a href="/admin/login">Admin</a></button>