{{!-- <h1>Alumni Management System</h1><br>
<hr>
<br>
<button><a href="/alumni/login">Alumni</a></button>
<button><a href="/faculty/login">Faculty</a></button>
<button><a href="/admin/login">Admin</a></button>

 --}}
 

<section class="text-gray-600 body-font">
  <div class="mx-auto">
    <div class="lg:w-5/5 mx-auto flex flex-wrap">
      <img alt="Alumni Picture" class="lg:w-2/2 mx-auto" src="/img/hero.jpg" width="600">
      <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 mx-auto">
        <h1 class="text-gray-900 text-3xl title-font font-bold mb-2 text-center">Connect, Engage, and Empower Your Alumni Community with Our Advanced Alumni Management System</h1>
        <p class="leading-relaxed text-center">Welcome to our state-of-the-art alumni management system, designed to help you easily connect, engage, and empower your alumni community. Our system offers a wide range of features that make it easy for you to manage your alumni data, communicate with your alumni, and plan events and fundraising campaigns</p>
        <div class="flex mt-5">
          <button class="flex-1 ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><a href="/alumni/login">Get Started</a></button>
        </div>
      </div>
    </div>
  </div>
</section>