<form action='/alumni/feedback' method='post' autocomplete='off'>
  <h2>Feedback</h2>
  <p>What would you like to share with us ?</p><br>
  <input type='name' id='name' name='name' placeholder='Name' required /><br><br>
  <input type='text' id='batch' name='batch' placeholder='Batch' required /><br><br>
  <textarea id='message' name='message' placeholder='Feedback' cols="30" rows="5" required></textarea><br><br>
  <button type='submit'>Submit</button>
</form>