<form action='/alumni/feedback' method='post' autocomplete='off'>
  <h2>
    Feedback
  </h2>
  <p>
    What would you like to share with us ?
  </p>
  <input type='name' id='name' name='name' placeholder='Name' required />
  <input type='text' id='batch' name='batch' placeholder='Batch' required />
  <textarea
    id='message'
    name='message'
    placeholder='Feedback'
    required
  ></textarea>
  <button type='submit'>
    Submit
  </button>
</form>