<section class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="lg:w-6/6 md:w-2/2  rounded-lg p-5 flex flex-col md:ml-auto w-full md:mt-0">
      <form action="/alumni/login" method="post" autocomplete="off">
      <h2 class="text-gray-900 text-lg font-bold title-font text-3xl mb-5">Alumni Login</h2>
      <div class="mb-4">
        <input type="email" placeholder="Email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
      </div>
      <div class="mb-4">
        <input type="password" placeholder="Password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
      </div>
      <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg w-full">Login</button>
      </form>
       <div class="mt-4">
        <a href="/alumni/signup">Not a member ? <b>Signup</b></a>
      </div>
    </div>
  </div>
</section>