{{#each alumni}}
  <form action='/alumni/profile' method='post' autocomplete='off'>
    <h2>
      Alumni Profile
    </h2>
    <input
      type='text'
      placeholder='Full Name'
      name='fullname'
      value="{{this.name}}"
      required
    />
    <input
      type='email'
      placeholder='Email'
      name='email'
      value="{{this.email}}"
      required
    />
    <input type='text' placeholder='Location' name='location' />
    <input type='tel' placeholder='Phone Number' name='phone' />
    <input type='tel' placeholder='Whatsapp Number' name='whatsapp' />
    <button type='submit'>
      Save Profile
    </button>
  </form>
{{/each}}